<ion-list>
  <ion-item *ngFor="let channel of channels" button [routerDirection]="'forward'" [routerLink]="'/channel/' + channel.name" lines="none">
    <ion-avatar slot="start">
      <h2>
        {{channel.name.charAt(0)}}
      </h2>
    </ion-avatar>
    <ion-label>
      <h2>
        {{channel.name}}
      </h2>

      <p *ngIf="channel.messages && channel.messages.length > 0">
        {{channel.messages[channel.messages.length - 1].message}}
      </p>
      <p *ngIf="!channel.messages || channel.messages.length <= 0">
        No messages yet...
      </p>
    </ion-label>
  </ion-item>
</ion-list>
