<ion-list>
  <ion-item *ngFor="let channel of channels" button [routerDirection]="'forward'" [routerLink]="'/channel/' + channel.id" lines="none">
    <ion-avatar slot="start" [ngStyle]="{'background': 'var(--ion-color-' + channel.members[0].color + ')'}">
      <h2>
        {{channel.members[0].name.charAt(0)}}
      </h2>
    </ion-avatar>
    <ion-label>
      <h2>
        {{channel.members[0].name}}
      </h2>

      <p *ngIf="channel.lastMessage && channel.lastMessage.message">
        {{channel.lastMessage.message}}
      </p>
    </ion-label>
  </ion-item>
</ion-list>
